img {
    max-width: 100%;
}

.fondomanuel {


    background-image:
        url(..//Imagenes/1837opt.jpg);

    background-repeat: no-repeat;
    max-width: 100%;
    background-color: black;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.gridizq {
    display: grid;
    width: 80%;
}





.handman {
    text-align: left;

    position: relative;
    top: 10%;
    font-weight: bolder;


}

.titulo1 {
    font-family: 'Lato',
        sans-serif;
    color: rgb(0, 123, 255);
    position: relative;
    top: 40%;
    font-size: 85px;
}

.colortexto1 {
    font-family: 'Lato',
        sans-serif;
    position: relative;
    top: 100px;
    margin: 0.5%;
    font-weight: bold;



    width: 870px;
    font-size: 30px;

    background-color: white;
    color: rgb(0, 123, 255);
}

.colortexto2 {
    font-family: 'Lato',
        sans-serif;
    font-weight: bold;
    position: relative;
    top: 100px;
    margin: 0.5%;



    width: 910px;
    font-size: 30px;

    background-color: white;
    color: rgb(0, 123, 255);
}

.colortexto3 {
    font-family: 'Lato',
        sans-serif;
    font-weight: bold;
    position: relative;
    top: 100px;
    margin: 0.5%;



    width: 800px;
    font-size: 30px;

    background-color: white;
    color: rgb(0, 123, 255);
}

.colortexto4 {
    font-family: 'Lato',
        sans-serif;
    font-weight: bold;
    position: relative;
    top: 100px;
    margin: 0.5%;



    width: 480px;
    font-size: 30px;

    background-color: white;
    color: rgb(0, 123, 255);
}

.colortexto5 {
    font-family: 'Lato',
        sans-serif;

    font-weight: bold;
    position: relative;
    top: 100px;
    margin: 0.5%;



    width: 540px;
    font-size: 30px;

    background-color: white;
    color: rgb(0, 123, 255);
}
