img {
    max-width: 100%;
}

.fondomanuel {




    background-repeat: no-repeat;
    max-width: 100%;
    background-color: black;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.gridizq {
    display: grid;
    width: 80%;
}





.handman {
    text-align: left;

    position: relative;
    top: 10%;
    font-weight: bolder;


}

.titulo1 {
    font-family: 'Lato',
        sans-serif;
    color: rgb(0, 123, 255);
    position: relative;
    top: 40%;
    font-size: 85px;
}

.colortexto1 {
    font-family: 'Lato',
        sans-serif;
    position: relative;
    top: 100px;
    margin: 0.5%;
    font-weight: bold;



    width: 870px;
    font-size: 30px;

    background-color: white;
    color: rgb(0, 123, 255);
}

.colortexto2 {
    font-family: 'Lato',
        sans-serif;
    font-weight: bold;
    position: relative;
    top: 100px;
    margin: 0.5%;



    width: 910px;
    font-size: 30px;

    background-color: white;
    color: rgb(0, 123, 255);
}

.colortexto3 {
    font-family: 'Lato',
        sans-serif;
    font-weight: bold;
    position: relative;
    top: 100px;
    margin: 0.5%;



    width: 800px;
    font-size: 30px;

    background-color: white;
    color: rgb(0, 123, 255);
}

.colortexto4 {
    font-family: 'Lato',
        sans-serif;
    font-weight: bold;
    position: relative;
    top: 100px;
    margin: 0.5%;



    width: 480px;
    font-size: 30px;

    background-color: white;
    color: rgb(0, 123, 255);
}

.colortexto5 {
    font-family: 'Lato',
        sans-serif;

    font-weight: bold;
    position: relative;
    top: 100px;
    margin: 0.5%;



    width: 540px;
    font-size: 30px;

    background-color: white;
    color: rgb(0, 123, 255);


}


.fotobg_box_wrapper {
    width: 100%;
    z-index: 100;
    background-image: url(../Imagenes/1837opt.jpg);

    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    border-bottom: 1px solid #e0e0e0;

}

.contedorvideo {

    grid-template-columns: 900px;
}



.bgcontentd {
    /* background: rgba(247, 156, 43, 1);
    background: linear-gradient(to right, rgba(247, 156, 43, 1) 0%, rgba(255, 119, 56, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f79c2b', endColorstr='#ff7738', GradientType=1);
*/
    background-color: rgb(248, 248, 248);
}

.bgblanco {
    background-color: rgb(255, 255, 255);
}

.fotobg_box {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 40px 0 110px 0;
    text-align: center;
}


.info_transparent {
    margin: 0 auto !important;
    overflow: hidden;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 110px;
    max-width: 1170px;
    text-align: center;
}

.info_transparent h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 42px;
    line-height: 48px;
    font-weight: 300;
}


/*
Estilos footer y menu principal
*/

.cabecera {
    background-color: #EF6C00;
    color: white;
    
  }


.logo-imagenCanjapp {
    float: inline-start;
    margin-left: 2em;
    width: 5%;

  }
  
  .main-content {
    padding: 1em;
    background-color: white;
  }
  
  .pie-pagina {
    padding-top: 1em;
    background-color: #EF6C00;
    color: white;
  }
  
  .iconos {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .iconos .icon {
    display: block;
    padding: 1em;
    font-size: 2em;
    color: inherit;
  }
  
  .iconos .icon:hover {
    color: #D96200;
  }
  
  .copyright {
    padding: 2em;
    background-color: #D96200;
    color: #efebe9;
    text-align: center;
  }
  
   /*
Estilos footer, carrusel y menu principal
*/