.ancho {
    width: 60%;
}

.button-color {
    background-color: #EF6C00;
}

.font-color {
    color: #EDE7F6;
}

.titulo {

    /* background-color: #64B5F6;*/
    color: #FAFAFA;
    /*border-radius: 10px;*/
    padding: 1px;
    margin: 20px 0;
}

input[type="email"].form-control:hover {
    border: 1px solid #F9A825;
}

input[type="password"].form-control:hover {
    border: 1px solid #F9A825;
}

input[type="checkbox"].custom-checkbox:hover {
    border: 1px solid #F9A825;
}

a.mx-2:hover {
    color: #F9A825;
}