.ancho {
    width: 40%;
}

.button-color {
    background-color: #EF6C00;
    opacity: 0.9;
}

.font-color {
    color: #EDE7F6;
}

input[type="email"].form-control:hover {
    border: 1px solid #F9A825;
}

input[type="password"].form-control:hover {
    border: 1px solid #F9A825;
}

input[type="text"].form-control:hover {
    border: 1px solid #F9A825;
}

input[type="tel"].form-control:hover {
    border: 1px solid #F9A825;
}

a.mx-2:hover {
    color: #F9A825;
}

.background-image {
    background-image: url("../Imagenes/registro.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover !important;
    /*width: 00px !important;*/
    /*background: rgb(247, 224, 196, 0.9);*/
    /*filter: blur(1px);*/

}

.opacidad {
    opacity: 0.9;
}

.float {
    float: left;
}

.card1 {
    border: 1px solid blue;
    width: 500px;
    margin-left: 50px;
    /* background: rgb(241, 213, 179, 0.3);*/
    background-color: rgb(236, 236, 233);

}

.card2 {
    /* border: 1px solid blue;*/
    margin-right: 50px;
    margin-top: 20px;
    background-color: rgb(236, 236, 233);
}

.button-color:hover {

    opacity: 1.0;
    color: aliceblue;
}

.font-size-Anuncio {
    font-size: 70px;
    color: aliceblue;
    opacity: 0.9;

}

.background-1 {
    background-color: rgb(250, 234, 209, 0.3);
}