.ancho {
    width: 40%;
}

.button-color {
    background-color: rgb(249, 168, 37);
    color: white;
}

.font-color {
    color: #EDE7F6;
}

input[type="email"].form-control:hover {
    border: 1px solid rgb(249, 168, 37);
}

input[type="password"].form-control:hover {
    border: 1px solid #F9A825;
}

input[type="text"].form-control:hover {
    border: 1px solid #F9A825;
}

input[type="tel"].form-control:hover {
    border: 1px solid #F9A825;
}

a.mx-2:hover {
    color: #F9A825;
}