* {
    box-sizing: border-box;
}

body {
    margin: 0;

    /* background-color: rgb(221, 221, 247) !important; */
}

/* background-color: rgb(226, 232, 243) !important; */

/* background: rgb(0, 140, 255);
background: linear-gradient(90deg, rgba(0, 140, 255, 1) 43%, rgba(25, 208, 253, 1) 100%, rgba(0, 212, 255, 1) 100%); */


.backg-ta {
    background-color: white;
    /* background-color: #F9FAFF; */
}


.cuadrito {
    background: transparent;

    margin: 0px;
    padding: 0px;
    border: black !important;
    color: black;
    font-size: 25px;
    border-radius: 30px !important;

}

.imagenesw {
    height: 350px;
    width: 350px;
    border-radius: 50% 50%;
}

.imagenesa {
    height: 100%;
    width: 100%;
    align-items: center;
    align-self: center;
    align-content: center;
    border-radius: 50% 50%;
}

.imag-cabeza {

    align-items: center;
    align-self: center;
    align-content: center;

}


.botones {
    border-bottom-color: blue !important;
    color: black !important;
    background-color: white !important;
    transition-duration: 0.4s;
    border: 2px solid;
    font-size: 30px !important;
    border-radius: 1em;
}

.botones:hover {
    background: rgb(0, 140, 255);
    background: linear-gradient(90deg, rgba(0, 140, 255, 1) 43%, rgba(25, 208, 253, 1) 100%, rgba(0, 212, 255, 1) 100%);
    color: white !important;
}

.boton {
    align-content: center !important;
    text-align: center !important;
    align-items: center !important;
}




.cuadrito2 {
    background-color: white !important;
    margin: 0px;
    padding: 50px;
    border: black !important;
    border-right-width: 10px;
    border-radius: 10px !important;

}

.titulo h1 {
    text-align: center;
    font-family: 'Roboto',
        sans-serif;
    font-size: 50px;
    color:#EF6C00;
    font-weight: bolder !important;
    /* line-height: 5px !important;*/
}

.titulo2 h1 {
    text-align: center;
    font-family: 'Roboto',
        sans-serif;
    font-size: 50px !important;
    color: #EF6C00;
    font-weight: bolder !important;
    padding-bottom: 1em;
    padding-top: 0.5em;
}

.subtitle-mio {
    font-size: 30px !important;
    color: black;
    font-weight: bolder !important;
}

.container-mio {
    text-align: center;
    font-family: 'Roboto',
        sans-serif;
    font-size: 30px;
    color: black;
    background-image: url('equipo1.jpg') !important;

}

.texto-tarjeta {

    font-family: 'Roboto',
        sans-serif;
}


.descripcion {
    text-align: center;
}

.tarjeta {
    margin: 50px !important;
    padding: 5px;

}

.conect-value h1 {
    text-align: center;
    font-size: 50px;

}

.container-propio {
    background-color: white;
    font-family: 'Roboto',
        sans-serif;
    font-size: 25px;
    background-color: white;

}


.boton-final {
    text-align: center !important;
    align-content: center !important;
    align-items: center;
    margin: 0px;
    padding: 10px;
}


.boton-cierre {
    border-bottom-color: blue !important;
    color: black !important;
    background-color: white !important;
    transition-duration: 0.4s;
    border: 2px solid;
    font-size: 30px !important;
}

.boton-cierre:hover {
    background: rgb(0, 140, 255);
    background: linear-gradient(90deg, rgba(0, 140, 255, 1) 43%, rgba(25, 208, 253, 1) 100%, rgba(0, 212, 255, 1) 100%);
    color: white !important;
}



.headerweimar {
    background-color: #787480;
    color: white;
    text-align: center;
}

.botones2 {
    border-bottom-color: blue !important;
    color: black !important;
    background-color: white !important;
    border-color: white;
    border: 10px solid black;
    transition-duration: 0.4s;
    font-size: 30px !important;
    border-radius: 1.25rem !important;

}

.botones2:hover {
    background: rgb(0, 140, 255);
    background: linear-gradient(90deg, rgba(0, 140, 255, 1) 43%, rgba(25, 208, 253, 1) 100%, rgba(0, 212, 255, 1) 100%);
    color: white !important;

}


.boton1 {
    align-content: center !important;
    text-align: center !important;
    align-items: center !important;
}

.imagenes {
    height: 100%;
    width: 100%;
    align-items: center;
    float: center;
    opacity: 100%;

}

.text-image {
    font-size: 60px;
    color: white;
    font-family: 'Roboto',
        sans-serif;
    line-height: 80px;
    text-shadow: rgb(92, 92, 238);
    background-color: rgba(0, 0, 0, 0.534);
    border-radius: 10px;
}

.texto-carrusel {
    font-size: 90px;
    color: rgb(238, 159, 85);
    font-family: 'Roboto',
        sans-serif;
    font-weight: bolder !important;


}

.imagenescarr {
    background-color: white;
    transition: transform 2s ease;
    margin: 0px;


}

.aliados {
    text-align: center;
    font-size: 50px;
    background-color: white;
}

.imagenescarrlog {
    background-color: white;
    transition: transform 2s ease;

}

.logos {
    height: 300px;
    width: 300px;
    align-items: center;
    float: left;
    lighting-color: black;
}

.logos-aliados {
    text-align: center;
    font-size: 50px;
    background-color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-color: black !important;
    background-size: 100%, 100%;
    border-radius: 0%;
    border: 1px solid blue;
}

@media only sreen and (max-width: 800px) {
    .container-mio {
        width: 80%;
        padding: 0;
    }

}

@media only screen and (max-width:500px) {

    .container-mio {

        width: 100%;
    }
}

.productos-carrusel {
    width: 50%;
    margin: 15px;
    padding: 20px;
    background-color: darkslategray;
    height: 40%;
    /* height: 60px;*/
}

/*
Estilos footer y menu principal
*/

.cabecera {
    /* background-color: #EF6C00; */
    background-color: #007BFF;
    color: white;
    
  }

.logo-imagen {
    align-items: initial;

  }
  
.logo-imagenCanjapp {
    float: inline-start;
    margin-left: 2em;
    width: 5%;

  }


.main-content {
    padding: 1em;
    background-color: white;
  }
  
.nav-tatiana {
      padding: 1em;
      font: sans serif;
      font-size: 15px;
  }
   
  .pie-pagina {
    padding-top: 1em;
    /* background-color: #EF6C00; */
    background-color: #007BFF;
    color: white;
  }
  
  .iconos {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .iconos .icon {
    display: block;
    padding: 1em;
    font-size: 2em;
    color: inherit;
  }
  
  .iconos .icon:hover {
    /* color: #D96200; */
    color: #1E7AE0;
  }
  
  .copyright {
    padding: 1em;
    /* background-color: #D96200; */
    background-color: #1E7AE0;
    color: #efebe9;
    text-align: center;
  }
  
   /*
Estilos footer y menu principal
*/
